AGENTSHIELD_URL=http://localhost:9000
AGENTSHIELD_TIMEOUT_MS=3000
AGENTSHIELD_MODE=http
AGENTSHIELD_REQUIRED=true
AGENTSHIELD_REQUIRE_SIGNED=true
AGENTSHIELD_KEY_ID=default
AGENTSHIELD_PUBKEY_PATH=./agentshield_pubkey.pem
AGENTSHIELD_JWKS_URL=http://localhost:9000/v1/keys/jwks
AGENTSHIELD_JWKS_TTL=3600
AGENTSHIELD_MTLS_CERT=./certs/vigil_client.crt
AGENTSHIELD_MTLS_KEY=./certs/vigil_client.key
VIGIL_ENVIRONMENT=local
REACT_APP_API_URL=http://localhost:8000
