AGENTSHIELD_URL=http://localhost:9000
AGENTSHIELD_TIMEOUT_MS=3000
AGENTSHIELD_MODE=http
AGENTSHIELD_REQUIRED=true
AGENTSHIELD_REQUIRE_SIGNED=true
AGENTSHIELD_KEY_ID=default
AGENTSHIELD_PUBKEY_PATH=./agentshield_pubkey.pem
VIGIL_ENVIRONMENT=local
REACT_APP_API_URL=http://localhost:8000
